<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="AutoLotEntitiesModel" connectionString="data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=&quot;C:\Users\Andreea\Dropbox\My PC (DESKTOP-AON1JSQ)\Desktop\Anul 3\Medii de programare si dezvoltare\Sirb_Andreea_Lab5\AutoLot.mdf&quot;;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>